@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~fluid-player/src/css/fluidplayer.css";

.article-scroll::-webkit-scrollbar {
  display: none;
}

.svg-trace {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 3s ease forwards repeat;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/bg-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px auto;
  background-color: #181717;
  background-blend-mode: soft-light;
  z-index: -1;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  body::before {
    background-size: 500px auto;
  }
}
